.newUserRegFormContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: white; */
    color: black;
    font-size: 1.2rem;
}

.newUserFormHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}

.newUserFormFieldContainer{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.newUserFormFieldLabel{
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}

.regUserBtn{
    background-color: wheat;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}