.companyLogoContainer{
    display: flex; 
    justify-content: center;
    align-items: center;
    animation-name: companyLogoAnimation;
    animation-duration: 4s;
    object-fit: fill;
}

@keyframes companyLogoAnimation{
    0% {margin-left: 0%; background-color: #105840}
    50% {padding-left: 20%; }
}

.companyLogo{
    object-fit: cover;
}