.reportHeaderContainer{
    display: flex;
    background-color: wheat;
    color: #105840;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.reportHeaderHomeIcon{
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: #dddddd;
  }

.reportContainer{
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.reportColumnHeader{
    background-color: #032C5A;
    color: white;
}

.reportSrNoColumn{
    width: 5%;
}

.reportDateColumn{
    width: 25%;
}

.reportCountColumn{
    width: 25%;
}

.reportUserColumn{
    width: 45%;
}

.addTypeClass{
    background-color: rgb(142, 230, 142);
}

.removeTypeClass{
    background-color: rgb(241, 134, 134);
}